.mat-tab-group {
    margin-bottom: 48px;
    width: 850px;
  }

  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display:block;
}


#matgroup{
margin-top: 40px;
}

.grid{
  margin-top: 30px;
}
