<breadcrumb></breadcrumb>

<div fxLayout="row wrap" class="matero-row">

    <div fxFlex="100" class="matero-col">
        <mat-card>
            <!-- <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)" [(selectedIndex)]="tab"> -->
            <div>
                <form [formGroup]="form">
                    <div class="col-md-12">
                        <div class="row pt-2">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    <select class="form-control form-control-sm" formControlName="cbCustomerID"
                                        id="cbCustomerID">
                                        <option value="null" disabled>Select</option>
                                        <option *ngFor="let c of customerList" value={{c.CustomerID}}>
                                            {{c.CustomerName}}</option>
                                    </select>

                                </div>

                            </div>


                        </div>


                    </div>

                    <br>
                    <div class="col-sm-12 col-md-12" id="matgroup">
                        <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)"
                            [(selectedIndex)]="tab">

                            <mat-tab label="Inward"> Content 1 </mat-tab>
                            <mat-tab label="Pending Stock"> Content 2 </mat-tab>
                            <mat-tab label="Pending DO"> Content 3 </mat-tab>
                            <mat-tab label="Product Stock"> Content 4</mat-tab>
                            <mat-tab label="Storage Stock"> Content 5 </mat-tab>
                            <mat-tab label="Dispatch"> Content 6 </mat-tab>
                            <mat-tab label="outward"> Content 7 </mat-tab>
                            <mat-tab label="LotNoTrack"> Content 8 </mat-tab>



                        </mat-tab-group>
                    </div>
                </form>
            </div>

        </mat-card>
    </div>

</div>