<breadcrumb></breadcrumb>

<div fxLayout="row wrap" class="matero-row">

    <div fxFlex="100" class="matero-col">
        <mat-card>
            <!-- <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)" [(selectedIndex)]="tab"> -->
            <div>

                <form [formGroup]="form">
                    <div class="col-md-12">


                        <div class="row pt-2">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    <select class="form-control form-control-sm" formControlName="cbCustomerID"
                                        id="cbCustomerID"
                                        [ngClass]="{'is-invalid': submitted && f.cbCustomerID.invalid}">
                                        <option value="null" disabled>Select</option>
                                        <option *ngFor="let c of customerList" value={{c.CustomerID}}>
                                            {{c.CustomerName}}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-sm-md-6">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" (click)="OnCustomerSelect($event)"
                                        style="width: 85px !important; margin-top: 20px !important;  margin-left: 80px !important;">
                                        Search
                                    </button>
                                </div>
                            </div>

                            <div class="col-sm-md-6">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" (click)="ExportExcel()" type=""
                                        style="width: 85px !important; margin-top: 20px !important;  margin-left: 100px !important;">
                                        Export
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2">

                           


                        </div>





                    </div>

                    <br>
                    <div class="col-sm-12 col-md-12" id="matgroup">
                        <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)"
                            [(selectedIndex)]="tab">

                            <mat-tab label="Inward">
                                <div style="height: 100%; box-sizing: border-box; " id="grid">
                                    <ag-grid-angular style="height: 450px;" class="ag-theme-alpine"
                                        [rowData]="InwardData" [columnDefs]="inwardDatadatacolumn"
                                        (gridReady)="onGridReady($event)">
                                    </ag-grid-angular>
                                </div>

                            </mat-tab>
                            <mat-tab label="Pending Stock">
                                <div style="height: 100%; box-sizing: border-box; " class="grid">
                                    <ag-grid-angular style="height: 450px;" class="ag-theme-alpine" id="griddata"
                                        [rowData]="PendingStockData" [columnDefs]="PendingStockDataColumn">
                                    </ag-grid-angular>
                                </div>
                            </mat-tab>

                            <mat-tab label="Pending DO">
                                <div style="height: 100%; box-sizing: border-box; " class="grid">
                                    <ag-grid-angular style="height: 450px;" class="ag-theme-alpine"
                                        [rowData]="PendingDOData" [columnDefs]="PendingDOColumn">
                                    </ag-grid-angular>
                                </div>
                            </mat-tab>

                            <mat-tab label="Product Stock">
                                <div style="height: 100%; box-sizing: border-box; " class="grid">
                                    <ag-grid-angular style="height: 450px;" class="ag-theme-alpine"
                                        [rowData]="ProductStockData" [columnDefs]="ProductStockDO">
                                    </ag-grid-angular>
                                </div>
                            </mat-tab>

                            <mat-tab label="Storage Stock">
                                <div style="height: 100%; box-sizing: border-box; " class="grid">
                                    <ag-grid-angular style="height: 450px;" class="ag-theme-alpine"
                                        [rowData]="StorageStockData" [columnDefs]="StorageStockColumn">
                                    </ag-grid-angular>
                                </div>
                            </mat-tab>

                            <mat-tab label="Dispatch">
                                <div style="height: 100%; box-sizing: border-box; " class="grid">
                                    <ag-grid-angular style="height: 450px;" class="ag-theme-alpine"
                                        [rowData]="DispatchData" [columnDefs]="DispatchColumn">
                                    </ag-grid-angular>
                                </div>
                            </mat-tab>

                            <mat-tab label="Outward">
                                <div style="height: 100%; box-sizing: border-box; " class="grid">
                                    <ag-grid-angular style="height: 450px;" class="ag-theme-alpine"
                                        [rowData]="OutwardData" [columnDefs]="OutWardColumn">
                                    </ag-grid-angular>
                                </div>
                            </mat-tab>

                            <mat-tab label="LotNoTrack">
                                <div class="col-md-12">
                                    <div class="row pt-2">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Lot No</label>
                                                <input type="text" class=" form-control form-control-sm"
                                                    formControlName="Lotno" id="Lotno" />

                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-sm" (click)="OnLotNoSelect($event)"
                                                    style="width: 85px !important; margin-top: 20px !important;">
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div>
                                        <ag-grid-angular style="height: 450px;" class="ag-theme-alpine"
                                            [rowData]="LotNoData" [columnDefs]="LotColumn">
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </mat-tab>



                        </mat-tab-group>
                    </div>



                </form>
            </div>

        </mat-card>
    </div>

</div>