
.div1 {
    width: 100%;
    height: 280px;  
  padding: 30px;
    border: 1px solid rgb(68, 67, 67);
   margin-left: 15px;
   margin-right: 15px;
  }

  .a{
    font: bold;
    font-size:small;
    font-weight: bold;
    width: 16%;
    float: left;
  }
  .L{
    font: bold;
    font-size:large;
    font-weight: bold;
    width: 16%;
    float: left;
  }
  .i{
    margin-left: 0%;
  }
 
.ad-label{
  padding: left 0;;
  width: 50%;
  float: left;
}
  @media print{
    /*Hide every othe element*/
    body*{
      visibility: hidden;
    }
    .div2*{
      visibility: hidden;
    }

    /*then displaying print container elements*/
    .print-container,.print-container * {
      visibility: visible;
    }

    // .print-container,.print-container * {
    //   position: absolute;
    //   left: 0px;
    //   top: 0px;
    // }
    .test{
      border: 1px;
      border-color: black;
    }
  }
  