<breadcrumb></breadcrumb>

<div fxLayout="row wrap" class="matero-row">

    <div fxFlex="100" class="matero-col">
        <mat-card>
            <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)" [(selectedIndex)]="tab">
                <mat-tab label="Dock Master">
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                        <div class="col-md-12">
                            <div class="row pt-2">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Dock No</label>
                                        <input type="text" formControlName="dockNo" id="dockNo"
                                            class=" form-control form-control-sm"
                                            [ngClass]="{'is-invalid': submitted && f.dockNo.invalid}"
                                            autocomplete="off" />
                                        <div *ngIf="submitted && f.dockNo.invalid" class="invalid-feedback">
                                            <span *ngIf="f.dockNo?.errors?.required">Enter Dock No</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="company">Dock Name</label>
                                        <input type="text" formControlName="dockName" id="dockName"
                                            class=" form-control form-control-sm"
                                            [ngClass]="{'is-invalid': submitted && f.dockName.invalid}"
                                            autocomplete="off" />
                                        <div *ngIf="submitted && f.dockName.invalid" class="invalid-feedback">
                                            <span *ngIf="f.dockName?.errors?.required">Enter Dock Name</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3 pt-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-secondary btn-sm"
                                            [hidden]="!HideSaveButton" [value]="submitted"
                                            style="width: 85px !important; margin-top: 20px !important;"> Save
                                        </button>
                                    </div>
                                </div> 
                                <!-- <div class="row ">
                                                                      
                                </div> -->
                                <!--/.col  click="onSubmit(form)"-->
                            </div>
                            <!--/.row-->
                        </div>
                    </form>

                    <div style="height: 100%; box-sizing: border-box;">
                        <ag-grid-angular style="height: 450px;" class="ag-theme-alpine" [rowData]="DockList"
                            [columnDefs]="columns" [frameworkComponents]="frameworkComponents">
                        </ag-grid-angular>
                    </div>

                    <!-- <mtx-grid style="height: 300px" [data]="DockList" [columns]="columns" [loading]="false"
                        [columnResizable]="true" [multiSelectable]="false" [rowSelectable]="false"
                        [hideRowSelectionCheckbox]="false" [rowHover]="true" [rowStriped]="false" [showToolbar]="false"
                        [toolbarTitle]="'Item List'" [columnHideable]="false" [columnMovable]="true"
                        [expandable]="false" [pageOnFront]="false" [showPaginator]="false" [pageSize]="100"></mtx-grid>
                    <ng-template #toolbarTpl>
                        <input placeholder="Search">
                    </ng-template> -->

                </mat-tab>


            </mat-tab-group>
        </mat-card>
    </div>

</div>