<breadcrumb></breadcrumb>

<div fxLayout="row wrap" class="matero-row">

    <div fxFlex="100" class="matero-col">
        <mat-card>
            <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)" [(selectedIndex)]="tab">
                <mat-tab label="Brands">
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                        <div class="col-md-12">
                            <div class="row pt-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="company">Brand Name</label>
                                        <input type="text" [ngClass]="{'is-invalid': submitted && f.BrandName.invalid}"
                                            formControlName="BrandName" id="BrandName"
                                            class=" form-control form-control-sm" />
                                        <div *ngIf="submitted && f.BrandName.invalid" class="invalid-feedback">
                                            <div *ngIf="f.BrandName?.errors?.required">Enter Brands Name</div>
                                        </div>
                                    </div>



                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="submit" [disabled]="submitted" class="btn btn-primary btn-sm"
                                                style="width: 85px !important; margin-top: 20px !important;  margin-left: 200px !important;"> Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col  click="onSubmit(form)"-->
                            </div>
                            <!--/.row-->
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="List">

                    <mtx-grid [data]="BrandsList" [columns]="columns" [loading]="false" [columnResizable]="true"
                        [multiSelectable]="false" [rowSelectable]="false" [hideRowSelectionCheckbox]="false"
                        [rowHover]="true" [rowStriped]="false" [showToolbar]="true" [toolbarTitle]="'Brands List'"
                        [columnHideable]="false" [columnMovable]="true" [expandable]="false" [pageOnFront]="true"
                        [showPaginator]="true" [pageSizeOptions]="[10,20,50,100,500]" [pageIndex]="0" [pageSize]="10"
                        [toolbarTemplate]="toolbarTpl">
                    </mtx-grid>
                    <ng-template #toolbarTpl>
                        <input placeholder="Search">
                      </ng-template>

                </mat-tab>


            </mat-tab-group>
        </mat-card>
    </div>

</div>