<breadcrumb></breadcrumb>

<div fxLayout="row wrap" class="matero-row">

    <div fxFlex="100" class="matero-col">
        <mat-card>
            <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)" [(selectedIndex)]="tab">

                <mat-tab label="State Master">
                    <form [formGroup]="form" (ngSubmit)="onStateSave(form)">
                        <div class="col-md-12">
                            <div class="row pt-2">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>State Name</label>
                                        <input type="text" formControlName="State" class="form-control"
                                            [ngClass]="{'is-invalid': submitted && f.State.invalid}" />
                                            <div *ngIf="submitted && f.State.invalid" class="invalid-feedback">
                                                <div *ngIf="f.State?.errors?.required">Enter State</div>
                                            </div>

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>State Code</label>
                                        <input type="text" formControlName="StateCode" class="form-control"
                                            [ngClass]="{'is-invalid': submitted && f.StateCode.invalid}" autocomplete="off" />
                                        <div *ngIf="submitted && f.StateCode.invalid" class="invalid-feedback">
                                            <div *ngIf="f.StateCode?.errors?.required">Enter State Code</div>
                                        </div>


                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>GST Code</label>
                                        <input type="text" formControlName="GstCode" class="form-control"
                                            [ngClass]="{'is-invalid': submitted && f.GstCode.invalid}" autocomplete="off" />
                                        <div *ngIf="submitted && f.GstCode.invalid" class="invalid-feedback">
                                            <div *ngIf="f.GstCode?.errors?.required">Enter GST Code</div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-secondary btn-sm" [hidden]="!HideSaveButton"
                                            [value]="submitted"
                                            style="width: 85px !important; margin-top: 20px !important;"> Save
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="row pt-2">
                                                              
                            </div> -->
                            <!--/.col  click="onSubmit(form)"-->
                        </div>
                      
                        <!-- <mtx-grid style="height: 500px" [data]="StateList" [columns]="StateColumn" [loading]="false"
                            [columnResizable]="true" [multiSelectable]="false" [rowSelectable]="false"
                            [hideRowSelectionCheckbox]="false" [rowHover]="true" [rowStriped]="false"
                            [showToolbar]="false" [toolbarTitle]="'Item List'" [columnHideable]="false"
                            [columnMovable]="true" [expandable]="false" [pageOnFront]="false" [showPaginator]="false"
                            [pageSize]="100"></mtx-grid>
                        <ng-template #toolbarTpl>
                            <input placeholder="Search">
                        </ng-template> -->

                        <div style="height: 100%; box-sizing: border-box;">
                            <ag-grid-angular style="height: 450px;" class="ag-theme-alpine" [rowData]="StateList"
                                [columnDefs]="StateColumn" [frameworkComponents]="frameworkComponents">
                            </ag-grid-angular>
                        </div>
    

                    </form>

                </mat-tab>

                <mat-tab label="City Master">

                    <form [formGroup]="form2" (ngSubmit)="onCitySave(form2)">
                        <div class="col-md-12">
                            <div class="row pt-2">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" formControlName="City" class="form-control"
                                            [ngClass]="{'is-invalid': submitted2 && f2.City.invalid}" autocomplete="off" />
                                        <div *ngIf="submitted2 && f2.City.invalid" class="invalid-feedback">
                                            <div *ngIf="f2.City?.errors?.required">Enter City</div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>State</label>
                                        <select class="form-control form-control-sm" formControlName="CStateID"
                                            id="CStateID" [ngClass]="{'is-invalid': submitted2 && f2.CStateID.invalid}">
                                            <option value="null" disabled>Select </option>
                                            <option selected="true" *ngFor="let i of StateList" value={{i.StateID}}>{{i.State}}</option>
                                        </select>
                                        <div *ngIf="submitted2 && f2.CStateID.invalid" class="invalid-feedback">
                                            <div *ngIf="f2.CStateID?.errors?.required">Enter State</div>
                                        </div>



                                    </div>
                                </div>
                                <div class="col-sm-2 pt-1">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-secondary btn-sm" [hidden]="!HideSaveButton2"
                                            [value]="submitted2"
                                            style="width: 85px !important; margin-top: 20px !important;"> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row pt-2">
                            </div> -->


                        </div>

                       
                        <!-- <mtx-grid style="height: 400px" [data]="Citylist" [columns]="CityColumn" [loading]="false"
                            [columnResizable]="true" [multiSelectable]="false" [rowSelectable]="false"
                            [hideRowSelectionCheckbox]="false" [rowHover]="true" [rowStriped]="false"
                            [showToolbar]="false" [toolbarTitle]="'Item List'" [columnHideable]="false"
                            [columnMovable]="true" [expandable]="false" [pageOnFront]="false" [showPaginator]="false"
                            [pageSize]="100"></mtx-grid>
                        <ng-template #toolbarTpl>
                            <input placeholder="Search">
                        </ng-template> -->

                        <div style="height: 100%; box-sizing: border-box;">
                            <ag-grid-angular style="height: 450px;" class="ag-theme-alpine" [rowData]="Citylist"
                                [columnDefs]="CityColumn" [frameworkComponents]="frameworkComponents">
                            </ag-grid-angular>
                        </div>
    

                    </form>


                </mat-tab>

            </mat-tab-group>
        </mat-card>
    </div>
</div>