<breadcrumb></breadcrumb>
<div fxLayout="row wrap" class="matero-row">
    <div fxFlex="100" class="matero-col">
      <mat-card>
        <mat-tab-group animationDuration="1ms" (selectedIndexChange)="tabDeliveryOrderchange($event)" [(selectedIndex)]="tab" >
          <mat-tab label="Outward">
            <form [formGroup]="form" >
                <div class="col-md-12">
                    <div class="row pt-2">
                        <div class="col-sm-5 col-md-5">
                            <div class="form-group">
                              <label>Customer Name</label>
                              <select class="form-control form-control-sm" 
                                formControlName="customer_id" id="customer_id">
                                <option value="null" disabled>Select</option>
                                <option *ngFor="let c of customerList" value={{c.CustomerID}}>{{c.CustomerName}}</option>
                              </select>
                              <mat-error id="customer_id_error"></mat-error>
                            </div>
                          </div>
                          <div class="col-sm-3 col-md-3">
                            <div class="form-group pt-3">
                              <button type="button" class="btn btn-primary btn-block" (click)="OnSearchClick()">Pending DO</button>
                            </div>
                          </div>
                          <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label>Outward Date</label>
                                <input type="date" formControlName="Outward_Date" id="Outward_Date"
                                  class="form-control form-control-sm" placeholder="" 
                                  [ngModel]="todayDate| date:'yyyy-MM-dd'"  name="deliveryorder_date" 
                                    class="form-control form-control-rounded"    />
                            </div>
                          </div>
                          <!---row 1-->
                          <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                              <label>Truck No</label>
                              <input type="text" formControlName="txtTruck_No" id="txtTruck_No"
                                class="form-control form-control-sm" placeholder="" />
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                              <label>Container No</label>
                              <input type="text" formControlName="txtContainer_No" id="txtContainer_No"
                                class="form-control form-control-sm" placeholder="" />
                            </div>
                          </div>
                          <!---row 3-->
                          <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label>Customer Party</label>
                                <select class="form-control form-control-sm" 
                                  formControlName="cbCustomer_Party" id="cbCustomer_Party">
                                  <option value="null" disabled>Select</option>
                                  <option *ngFor="let c of customePartyList" value={{c.CustomerPartyID}}>{{c.PartyName}}</option>
                                </select>
                            </div>
                          </div>
                          <div class="col-sm-3 col-md-3">
                            <div class="form-group pt-3">
                                <button type="button" class="btn btn-primary btn-block" (click)="openPartyWindow(AddPartyContent)">ADD Party</button>
                            </div>
                          </div>
                          <div class="col-sm-5 col-md-5">
                            <div class="form-group">
                              <label>Remarks</label>
                              <select class="form-control form-control-sm" 
                              formControlName="cbRemarks" id="cbRemarks">
                              <option value="null" disabled>Select</option>
                              <option *ngFor="let r of remarkList" value={{r.RemarksID}}>{{r.Remarks}}</option>
                            </select>
                            </div>
                          </div>
                          <!--row 4-->
                          <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                              <label>Driver Name</label>
                              <input type="text" formControlName="txtDriver_Name" id="txtDriver_Name"
                                class="form-control form-control-sm" placeholder="" />
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                              <label>Driver Mobile No</label>
                              <input type="text" formControlName="txtDriver_MobileNo" id="txtDriver_MobileNo"
                                class="form-control form-control-sm" placeholder="" />
                            </div>
                          </div>
                          <!--Row 5-->
                          <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                              <label>Dock Name</label>
                              <select class="form-control form-control-sm" 
                                formControlName="cbDock_Name" id="cbDock_Name">
                                <option value="null" disabled>Select</option>
                                <option *ngFor="let d of dockList" value={{d.DockID}}>{{d.DockName}}</option>
                              </select>
                              <mat-error id="customer_id_error"></mat-error>
                            </div>
                          </div>
                          <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                              <label>LodingBy Name</label>
                              <select class="form-control form-control-sm" 
                                formControlName="cbLodingBy_Name" id="cbLodingBy_Name">
                                <option value="null" disabled>Select</option>
                                <option *ngFor="let c of unloadingList" value={{c.UserID}}>{{c.UserName}}</option>
                              </select>
                              <mat-error id="customer_id_error"></mat-error>
                            </div>
                          </div>
                          <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                              <label>Labour Contractor</label>
                              <select class="form-control form-control-sm" 
                                formControlName="cbLabourContractor" id="cbLabourContractor">
                                <option value="null" disabled>Select</option>
                                <option *ngFor="let c of labourContractorList" value={{c.LabourContractorID}}>{{c.ContractorName}}</option>
                              </select>
                              <mat-error id="customer_id_error"></mat-error>
                            </div>
                          </div>
                    </div>
                  </div>
                  </form>
                  </mat-tab>
                  <mat-tab label="Outward List">

                </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>


    <!----Add Party window-->
<!----popup-->                
<ng-template #AddPartyContent let-c="close" let-d="dismiss">
  <!-- <mat-tab-group>
    <mat-tab label="Storage Area">  -->
      <div>
        <div class="modal-header">
          <h5  id="modal-basic-title">Customer Party</h5> 
        </div>
        <br>
        <form>
          <div class="col-lg-12">
              <div class="row pt-2">
                    <div class="col-sm-5 col-md-5">
                      <div class="form-group">
                        <label>Customer Name</label>
                        <input type="text"  />
                        
                      </div>
                    </div>
                    <div class="col-sm-5 col-md-5">
                      <div class="form-group">
                        <label>Customer Name</label>
                        <input type="text"  />
                      </div>
                    </div>
                </div>
              </div>
          </form>
        
        <div class="modal-body">
          <!-- <ag-grid-angular #LocationGrid
              style="height: 300px;"
              class="ag-theme-alpine"
              [rowData]="storageAreaList"
              [columnDefs]="columnDefs"
          >
          </ag-grid-angular> -->
           <!-- (cellValueChanged) ="onCellKeyPress($event)"                       -->
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" >ADD</button>
        <button type="button" class="btn btn-info" (click)="onCloseAddParty(AddPartyContent)">cancel</button>
      </div> 
      </div>
    
</ng-template>

