
<breadcrumb></breadcrumb>

<div fxLayout="row wrap" class="matero-row">

  <div fxFlex="100" class="matero-col">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" label="Item Type Master">
        <div class="col-md-12">
            <div class="row pt-2">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Item Type Code</label>
                        <input type="text" autocomplete="off"
                            [ngClass]="{'is-invalid': submitted && f.txtItemTypeCode.invalid}"
                            formControlName="txtItemTypeCode" id="txtItemTypeCode"
                            class=" form-control form-control-sm" />
                        <div *ngIf="submitted && f.txtItemTypeCode.invalid" class="invalid-feedback">
                            <span *ngIf="f.txtItemTypeCode?.errors?.required">Enter Item Type Code</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row pt-2">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Item Type </label>
                        <input type="text" autocomplete="off"
                            [ngClass]="{'is-invalid': submitted && f.txtItemType .invalid}"
                            formControlName="txtItemType" id="txtItemType"
                            class=" form-control form-control-sm" />
                        <div *ngIf="submitted && f.txtItemType .invalid" class="invalid-feedback">
                            <span *ngIf="f.txtItemType?.errors?.required">Enter Item Type </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
      
          <div class="row">
            <div class="col-md-6">
              <button type="submit" [hidden]="!HideSaveButton" [value]="submitted" class="btn btn-secondary btn-sm"
                style="width: 85px !important; margin-top: 20px !important;"> Save </button>
            </div>

          </div>
        </form>

    <hr>
    <br>

    <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine"
    [rowData]="ItemTypeList" [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
    <!-- <mtx-grid [data]="ItemTypeList" #gridPendingDOdList [columns]="columns" [loading]="false" [columnResizable]="true"
      [multiSelectable]="false" [rowSelectable]="true" [hideRowSelectionCheckbox]="true" [rowHover]="true"
      [rowStriped]="false" [showToolbar]="false" [toolbarTitle]="'Detail List'" [columnHideable]="false"
      [columnMovable]="true" [expandable]="false" [pageOnFront]="true" [showPaginator]="true"
      [pageSizeOptions]="[10,20,50,100,500]" [pageIndex]="0" [pageSize]="0">
    </mtx-grid> -->

    <ng-template #toolbarTpl>
      <input placeholder="Search">
    </ng-template>




  </div>

</div>