<breadcrumb></breadcrumb>

<div fxLayout="row wrap" class="matero-row">

    <div fxFlex="100" class="matero-col">
        <mat-card>
            <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)" [(selectedIndex)]="tab">
                <mat-tab label="Company Master">
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                        <div class="col-md-12">
                            <div class="row pt-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Company Name</label>
                                        <input type="text" formControlName="CompanyName" id="CompanyName"
                                            [ngClass]="{'is-invalid': submitted && f.CompanyName.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.CompanyName.invalid" class="invalid-feedback">
                                            <span *ngIf="f.CompanyName?.errors?.required">Enter Company Name</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="company">Company Code</label>
                                        <input type="text" formControlName="CompanyCode" id="CompanyCode"
                                            [ngClass]="{'is-invalid': submitted && f.CompanyCode.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.CompanyCode.invalid" class="invalid-feedback">
                                            <span *ngIf="f.CompanyCode?.errors?.required">Enter Company Code</span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Company</label>
                                        <select class="form-control form-control-sm" formControlName="ParentCompanyID"
                                            id="ParentCompanyID">
                                            <option value="null" disabled>Select </option>
                                            <option *ngFor="let p of CompanyList" value={{p.ParentCompanyID}}>
                                                {{p.ParentCompany}}</option>

                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Mobile No</label>
                                        <input type="text" formControlName="MobileNo" id="MobileNo"
                                            class=" form-control form-control-sm"
                                            [ngClass]="{'is-invalid': submitted && f.MobileNo.invalid}"
                                            autocomplete="off" />
                                        <div *ngIf="submitted && f.MobileNo.invalid" class="invalid-feedback">
                                            <span *ngIf="f.MobileNo?.errors?.required">Enter Mobile No</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Contact No</label>
                                        <input type="text" formControlName="ContactNo" id="ContactNo"
                                            class=" form-control form-control-sm" autocomplete="off" />

                                    </div>

                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>GST NO</label>
                                        <input type="text" formControlName="GSTINNo" id="GSTINNo"
                                            [ngClass]="{'is-invalid': submitted && f.GSTINNo.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.GSTINNo.invalid" class="invalid-feedback">
                                            <span *ngIf="f.GSTINNo?.errors?.required">Enter GST NO</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Pan No</label>
                                        <input type="text" formControlName="PANNo" id="PANNo"
                                            [ngClass]="{'is-invalid': submitted && f.PANNo.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.PANNo.invalid" class="invalid-feedback">
                                            <span *ngIf="f.PANNo?.errors?.required">Enter Pan No</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row pt-2 ">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Address 1</label>
                                        <input type="text" formControlName="Address1" id="Address1"
                                            [ngClass]="{'is-invalid': submitted && f.Address1.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.Address1.invalid" class="invalid-feedback">
                                            <span *ngIf="f.Address1?.errors?.required">Enter Address 1</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row pt-2 ">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Address 2</label>
                                        <input type="text" formControlName="Address2" id="Address2"
                                            class=" form-control form-control-sm" autocomplete="off" />

                                    </div>

                                </div>
                            </div>
                            <div class="row pt-2 ">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Address 3</label>
                                        <input type="text" formControlName="Address3" id="Address3"
                                            class=" form-control form-control-sm" autocomplete="off" />

                                    </div>

                                </div>
                            </div>
                            <div class="row pt-2 ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <select class="form-control form-control-sm" formControlName="CBCityID"
                                            id="CBCityID">
                                            <option value="null" disabled>Select </option>
                                            <option *ngFor="let p of CitiesList" value={{p.CityID}}>{{p.City}}</option>

                                        </select>

                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>PinCode</label>
                                        <input type="text" formControlName="PinCode" id="PinCode"
                                            class=" form-control form-control-sm" autocomplete="off" />


                                    </div>

                                </div>


                            </div>
                            <div class="row pt-2 ">
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-sm" [hidden]="!HideSaveButton"
                                            [value]="submitted"
                                            style="width: 85px !important; margin-top: 20px !important;margin-left: 20px !important;">
                                            Save
                                        </button>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <button type="reset" class="btn btn-primary btn-sm" (click)="ResetForm()"
                                            style="width: 85px !important; margin-top: 20px !important ">
                                            Reset
                                        </button>
                                    </div>
                                </div> -->


                            </div>

                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="List">

                   
                       
                   
                    <!-- <mtx-grid style="height: 300px" [data]="CompanyList" [columns]="CompanylistColumn" [loading]="false"
                        [columnResizable]="true" [multiSelectable]="false" [rowSelectable]="false"
                        [hideRowSelectionCheckbox]="false" [rowHover]="true" [rowStriped]="false" [showToolbar]="false"
                        [toolbarTitle]="'Item List'" [columnHideable]="false" [columnMovable]="true"
                        [expandable]="false" [pageOnFront]="false" [showPaginator]="false" [pageSize]="100"></mtx-grid> -->

                        <div style="height: 100%; box-sizing: border-box;">
                            <ag-grid-angular style="height: 450px;" class="ag-theme-alpine" [rowData]="CompanyList"
                                [columnDefs]="CompanylistColumn" [frameworkComponents]="frameworkComponents">
                            </ag-grid-angular>
                        </div>
                   
                    <!-- <ng-template #expansionTpl let-row>
                      {{row.name}}
                    </ng-template> -->
                </mat-tab>

            </mat-tab-group>
        </mat-card>
    </div>

</div>