<breadcrumb></breadcrumb>

<div fxLayout="row wrap" class="matero-row">


    <div fxFlex="100" class="matero-col">
        <mat-card>
            <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)" [(selectedIndex)]="tab">
                <mat-tab label="Storage Area Master">
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                        <div class="col-md-12">
                            <div class="row pt-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Storage Area Name</label>
                                        <input type="text" formControlName="Storage_Area_Name" id="Storage_Area_Name"
                                            [ngClass]="{'is-invalid': submitted && f.Storage_Area_Name.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.Storage_Area_Name.invalid" class="invalid-feedback">
                                            <span *ngIf="f.Storage_Area_Name?.errors?.required">Enter Storage Area
                                                Name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Storage Code</label>
                                        <input type="text" formControlName="StorageAreaCode" id="StorageAreaCode"
                                            [ngClass]="{'is-invalid': submitted && f.StorageAreaCode.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.StorageAreaCode.invalid" class="invalid-feedback">
                                            <span *ngIf="f.StorageAreaCode?.errors?.required">Enter Storage AreaCode
                                                Name</span>
                                        </div>


                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Storage Area Type</label>
                                        <select class="form-control form-control-sm" formControlName="StorageAreaTypeID"
                                            id="StorageAreaTypeID"
                                            [ngClass]="{'is-invalid': submitted && f.StorageAreaTypeID.invalid}">
                                            <option value="null" disabled>Select </option>
                                            <option *ngFor="let i of StorageAreaTypeList" value={{i.StorageAreaTypeID}}>
                                                {{i.StorageAreaType}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.StorageAreaTypeID.invalid" class="invalid-feedback">
                                            <span *ngIf="f.StorageAreaTypeID?.errors?.required">Enter Storage Area Type
                                                Name</span>
                                        </div>



                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Preference</label>
                                        <input type="text" formControlName="Preference" id="Preference" readonly
                                            class=" form-control form-control-sm" autocomplete="off" />
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <p class="font-weight-bold"> Temperature Details </p>

                            <div class="row pt-2 ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Temperature Category</label>
                                        <select class="form-control form-control-sm" (change)="GetTempdetails($event)"
                                            formControlName="TemperatureCategoryID" id="TemperatureCategoryID"
                                            [ngClass]="{'is-invalid': submitted && f.TemperatureCategoryID.invalid}">
                                            <option value="null" disabled>Select </option>
                                            <option *ngFor="let i of TempCatList" value={{i.TemperatureCategoryID}}>
                                                {{i.TemperatureCategory}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.TemperatureCategoryID.invalid"
                                            class="invalid-feedback">
                                            <span *ngIf="f.TemperatureCategoryID?.errors?.required">Enter
                                                TemperatureCategory Name</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Min Temperature</label>
                                        <input type="text" formControlName="MinTempareture" id="MinTempareture"
                                            class=" form-control form-control-sm" readonly />
                                        <div *ngIf="submitted && f.TemperatureCategoryID.invalid"
                                            class="invalid-feedback">
                                            <span *ngIf="f.TemperatureCategoryID?.errors?.required">Enter
                                                Temperature Category Name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Max Temperature</label>
                                        <input type="text" formControlName="MaxTempareture" id="MaxTempareture"
                                            class=" form-control form-control-sm" readonly />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Temperature Controlled</label>
                                        <input type="checkbox"
                                            style="margin-top: 30px !important; margin-left: 2px !important;"
                                            formControlName="IsTemparatureControlled" id="IsTemparatureControlled"
                                            class="form-check-input"
                                            [ngClass]="{'is-invalid': submitted && f.IsTemparatureControlled.invalid}" />

                                    </div>

                                </div>

                            </div>
                            <hr>
                            <p class="font-weight-bold"> Area Details </p>

                            <div class="row pt-2 ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>AreaLength</label>
                                        <input type="text" formControlName="AreaLength" id="AreaLength"
                                            [ngClass]="{'is-invalid': submitted && f.AreaLength.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.AreaLength.invalid" class="invalid-feedback">
                                            <span *ngIf="f.AreaLength?.errors?.required">Enter Area Length</span>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>AreaBreadth</label>
                                        <input type="text" formControlName="AreaBreadth" id="AreaBreadth"
                                            [ngClass]="{'is-invalid': submitted && f.AreaBreadth.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.AreaBreadth.invalid" class="invalid-feedback">
                                            <span *ngIf="f.AreaBreadth?.errors?.required">Enter Area Breadth</span>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Area Height</label>
                                        <input type="text" formControlName="AreaHeight" id="AreaHeight"
                                            [ngClass]="{'is-invalid': submitted && f.AreaHeight.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.AreaHeight.invalid" class="invalid-feedback">
                                            <span *ngIf="f.AreaHeight?.errors?.required">Enter Area Height</span>
                                        </div>


                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label> Storage Capacity</label>
                                        <input type="text" formControlName="StorageCapacity" id="StorageCapacity"
                                            [ngClass]="{'is-invalid': submitted && f.StorageCapacity.invalid}"
                                            class=" form-control form-control-sm" autocomplete="off" />
                                        <div *ngIf="submitted && f.StorageCapacity.invalid" class="invalid-feedback">
                                            <span *ngIf="f.StorageCapacity?.errors?.required"> Enter Storage
                                                Capacity</span>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Is Storable</label>
                                        <input type="checkbox"
                                            style="margin-top: 30px !important; margin-left: 2px !important;"
                                            formControlName="IsStorable" id="IsActive" class="form-check-input" />
                                    </div>
                                </div>
                                <hr>



                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm" [hidden]="!HideSaveButton"
                                        [value]="submitted"
                                        style="width: 85px !important; margin-top: 20px !important;  margin-left: 300px !important;">
                                        Save
                                    </button>
                                </div>
                                <!-- <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-sm" (click)="ResetForm()"
                                        style="width: 85px !important; ">
                                        Reset
                                    </button>
                                </div> -->
                            </div>
                        </div>


                    </form>

                </mat-tab>
                <mat-tab label="List">


                    <!-- <mtx-grid style="height: 600px" [data]="StorageAreaList" [columns]="StorageArea1" [loading]="false"
                        [columnResizable]="true" [multiSelectable]="false" [rowSelectable]="false"
                        [hideRowSelectionCheckbox]="false" [rowHover]="true" [rowStriped]="false" [showToolbar]="false"
                        [toolbarTitle]="'Item List'" [columnHideable]="false" [columnMovable]="true"
                        [expandable]="false" [pageOnFront]="false" [showPaginator]="false" [pageSize]="100"></mtx-grid> -->



                        <div style="height: 100%; box-sizing: border-box;">
                            <ag-grid-angular style="height: 450px;" class="ag-theme-alpine" [rowData]="StorageAreaList"
                                [columnDefs]="StorageArea1" [frameworkComponents]="frameworkComponents">
                            </ag-grid-angular>
                        </div>
                   

                </mat-tab>

            </mat-tab-group>
        </mat-card>
    </div>

</div>