<breadcrumb></breadcrumb>
<div fxLayout="row wrap" class="matero-row">
    <div fxFlex="100" class="matero-col">
        <mat-card>
            <mat-tab-group animationDuration="0ms" (selectedIndexChange)="tabchange($event)" [(selectedIndex)]="tab">
                <mat-tab label="Customer Users">
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                        <div class="col-md-12">
                            <div class="row pt-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Customer Name</label>
                                        <select class="form-control form-control-sm" formControlName="cbCustomerID"
                                            id="cbCustomerID" [ngClass]="{'is-invalid': submitted && f.cbCustomerID.invalid}">
                                            <option value="null" disabled>Select</option>
                                            <option *ngFor="let c of customerList" value={{c.CustomerID}}>
                                                {{c.CustomerName}}</option>
                                        </select>
                                        <div *ngIf="submitted && form.controls.cbCustomerID.errors" class="text-danger">
                                            <div *ngIf="form.controls.cbCustomerID.errors.required">Customer Name is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" formControlName="userName" id="userName"
                                            class=" form-control form-control-sm"
                                            [ngClass]="{'is-invalid': submitted && f.userName.invalid}" />
                                            <div *ngIf="submitted && form.controls.userName.errors" class="text-danger">
                                                <div *ngIf="form.controls.userName.errors.required">UserName is Required
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" formControlName="password" id="password"
                                            class=" form-control form-control-sm"
                                            [ngClass]="{'is-invalid': submitted && f.password.invalid}" />
                                            <div *ngIf="submitted && form.controls.password.errors" class="text-danger">
                                                <div *ngIf="form.controls.password.errors.required">Password is Required
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Is Active</label>
                                        <input type="checkbox"
                                            style="margin-top: 30px !important; margin-left: 2px !important;"
                                            formControlName="IsActive" id="IsActive" class="form-check-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-sm"
                                            style="width: 85px !important; margin-top: 20px !important;"> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="List">
                    <div style="height: 100%; box-sizing: border-box;">
                        <ag-grid-angular style="height: 450px;" class="ag-theme-alpine" [rowData]="customergridlist"
                            [columnDefs]="columns" [frameworkComponents]="frameworkComponents">
                        </ag-grid-angular>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>